---
// astro image libary imports
import { Image } from "@astrojs/image/components";
import { category } from "../../data/data";
import jordan from "../assets/jordan.svg";
---

<section class="category-section">
  <div class="category-image">
    <Image src={jordan} alt="category-image" width={150} />
  </div>
  <div class="category-options">
    <ul>
      {
        category.map((cat) => (
          <li>
            <a href="#">{cat.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</section>

<style>
  .category-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    gap: var(--h2);
    flex-wrap: wrap;
  }

  .category-image {
    width: 100%;
    text-align: center;
  }

  .category-image img {
    display: block;
    margin: 0 auto;
    width: 150px;
  }

  .category-options {
    width: 100%;
  }

  .category-options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: var(--h4);
  }

  .category-options li a {
    font-size: 16px;
    color: #333;
    text-decoration: none;
  }

  @media (max-width: 768px) {
    .category-section {
      flex-direction: column;
    }

    .category-image {
      margin-bottom: 20px;
    }

    .category-options {
      margin-left: 0;
    }
  }
</style>
