---
---

<footer>
  <div class="container">
    <ul>
      <li>FIND A STORE</li>
      <li>NIKE JOURNAL</li>
      <li>BECOME A MEMBER</li>
      <li>FEEDBACK</li>
      <li>PROMO CODES</li>
      <li>JOIN US</li>
    </ul>
    <ul>
      <li>GET HELP</li>
      <li>Order Status</li>
      <li>Shipping and Delivery</li>
      <li>Returns</li>
      <li>Payment Options</li>
      <li>Contact Us</li>
    </ul>
    <ul>
      <li>ABOUT NIKE</li>
      <li>News</li>
      <li>Careers</li>
      <li>Returns</li>
      <li>Investors</li>
      <li>Sustainability</li>
    </ul>
    <ul>
      <li>JOIN US</li>
      <li>Nike App</li>
      <li>Nike Run Club</li>
      <li>Nike Training Club</li>
      <li>Snikers</li>
      <li>Contact Us</li>
    </ul>
  </div>
</footer>

<style>
  footer {
    background-color: var(--clr-black);
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    flex-wrap: wrap;
  }
  ul:first-child {
    padding-left: 1rem;
  }

  ul:first-child li {
    color: var(--clr-white);
    font-weight: 700;
  }
  ul > li {
    color: var(--clr-white);
  }
  ul > li:first-child {
    font-weight: bold;
  }
  ul:last-child {
    padding-right: 1rem;
  }
  @media (max-width: 600px) {
  }
</style>
