---
import { Image } from "@astrojs/image/components";

// asserts
const data = Astro.props;

const { title, subtitle, img, span, svg, buttonText } = data.heroData;
---

<section class="hero-section">
  <div class="hero-img">
    <Image src={img} alt="" typeof="avif" />
  </div>
  <div class="hero-info">
    <span>{span && span}</span>
    <h1>{title}</h1>

    {subtitle && <p>{subtitle}</p>}
    <button>
      <span>{buttonText}</span>
      {
        svg && (
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            width="30px">
            <path
              fill-rule="evenodd"
              d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm14.024-.983a1.125 1.125 0 010 1.966l-5.603 3.113A1.125 1.125 0 019 15.113V8.887c0-.857.921-1.4 1.671-.983l5.603 3.113z"
              clip-rule="evenodd"
            />
          </svg>
        )
      }
    </button>
  </div>
</section>

<style>
  .hero-section {
    width: 80%;
    margin: 2rem auto;
  }

  .hero-img {
    width: 100%;
    overflow: hidden;
  }

  .hero-img > img {
    width: 100%;
    object-fit: cover;
    height: 600px;
    object-position: center;
  }
  .hero-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  span {
    margin-block: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  h1 {
    text-transform: uppercase;
    font-size: var(--h1);
    line-height: 120%;
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  button {
    background-color: var(--clr-black);
    border: 1px solid currentColor;
    color: var(--clr-white);

    width: 200px;
    font-size: var(--h4);
    border-radius: 50px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
</style>
