---
import { Image } from "@astrojs/image/components";
import Button from "./Button.astro";

// asserts
const data = Astro.props;

const { title, subtitle, img, span, svg, buttonText } = data.heroData;
---

<section class="hero-section">
  <div class="hero-img">
    <Image src={img} alt="" typeof="avif" aspectRatio={1 / 1} />
  </div>
  <div class="hero-info">
    <span>{span && span}</span>
    <h1>{title}</h1>

    {subtitle && <p>{subtitle}</p>}
    <Button {buttonText}/>
  </div>
</section>

<style>
  .hero-section {
    width: 80%;
    margin: 2rem auto;
  }

  .hero-img {
    width: 100%;
    overflow: hidden;
  }

  .hero-img > img {
    width: 100%;
    object-fit: cover;
    height: 600px;
    object-position: center;
  }
  .hero-info {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  span {
    margin-block: 1rem;
    font-weight: bold;
    font-size: 1.2rem;
  }
  h1 {
    text-transform: uppercase;
    font-size: var(--h1);
    line-height: 120%;
    font-weight: bolder;
    margin-bottom: 1rem;
  }

  button {
    background-color: var(--clr-black);
    border: 1px solid currentColor;
    color: var(--clr-white);

    width: 200px;
    font-size: var(--h4);
    border-radius: 50px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }
</style>
